__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

venv/
.venv/
env/

.env
.env.*
config.yaml

build/
dist/
.cache/

.ipynb_checkpoints/

*.log
.DS_Store
.idea/
.vscode/
*.sqlite
*.db
data/
node_modules/
.vite/
coverage/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm/
.python-version
*.swp
*.swo
*~
.coverage.*
.envrc
.~lock.*#
